vrrp_instance {{ group_names[0] }} {
  interface {{ keepalive_interface }}
  state {{ keepalive_state }}
  virtual_router_id {{ keepalive_virtual_router_id }}
  priority {{ keepalive_priority }}
  virtual_ipaddress {
    {{ keepalive_virtual_ipaddress }}
  }
  authentication {
        auth_type PASS
        auth_pass {{ keepalive_pass }}
  }
}
