#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2     #Log configuration

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy             #Haproxy running under user and group "haproxy"
    group       haproxy
    daemon
    tune.ssl.default-dh-param 2048

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
#HAProxy Monitoring Config
#---------------------------------------------------------------------
frontend stats
    bind *:8080
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-legends
    stats realm Haproxy\ Statistics
    #stats auth {\{ username }\}:{\{ password }\}    #User and Password for login to the monitoring dashboard
    stats admin if TRUE

#---------------------------------------------------------------------
# FrontEnd Configuration
#---------------------------------------------------------------------
frontend cer
    bind *:{{ haproxy_port }}
    mode http
    #redirect scheme https if !{ ssl_fc }
    http-response add-header X-Host {{ inventory_hostname }}
    default_backend cer

#---------------------------------------------------------------------
# BackEnd roundrobin as balance algorithm
#---------------------------------------------------------------------
backend cer
    cookie SERVERUSED insert indirect nocache
    balance     roundrobin
    default-server inter 3s fall 3 rise 2
    option forwardfor
    option httpchk GET /api/server/info
    server {{ groups.cer[0] }} 172.20.1.15:80 check
    server {{ groups.cer[1] }} 172.20.1.16:80 check
    server {{ groups.cer[2] }} 172.20.1.17:80 check
