127.0.0.1   {{ inventory_hostname }}.{{ domain }} {{ inventory_hostname }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
172.20.1.5		dns-germes		dns-germes.{{ domain }}
172.20.1.10		haproxy-radagast		haproxy-radagast.{{ domain }}
172.20.1.11		haproxy-gendalf		haproxy-gendalf.{{ domain }}
172.20.1.15		cer-legolas		cer-legolas.{{ domain }}
172.20.1.16		cer-tauriel		cer-tauriel.{{ domain }}
172.20.1.17		cer-tranduil		cer-tranduil.{{ domain }}
172.20.1.20		mdb-torin		mdb-torin.{{ domain }}
172.20.1.21		mdb-balin		mdb-balin.{{ domain }}
172.20.1.22		mdb-dvalin		mdb-dvalin.{{ domain }}
172.20.1.23		mdb-deimos		mdb-deimos.{{ domain }}
172.20.1.24		mdb-bifur		mdb-bifur.{{ domain }}
172.20.1.25		mdb-gloin		mdb-gloin.{{ domain }}
172.20.1.26		mdb-nori		mdb-nori.{{ domain }}
172.20.1.27		mdb-nica		mdb-nica.{{ domain }}
172.20.1.28		mdb-bombur		mdb-bombur.{{ domain }}
172.20.1.29		mdb-fili		mdb-fili.{{ domain }}
172.20.1.30		mdb-gestia		mdb-gestia.{{ domain }}
172.20.1.31		mdb-kili		mdb-kili.{{ domain }}
172.20.1.40		gluster		gluster.{{ domain }}
172.20.1.41		gluster-bilbo		gluster-bilbo.{{ domain }}
172.20.1.42		gluster-frodo		gluster-frodo.{{ domain }}
#172.20.1.43		gluster-gefest		gluster-gefest.{{ domain }}
172.20.1.220		zabbix-poseidon		zabbix-poseidon.{{ domain }}
172.20.1.210		kibana-elrond		kibana-elrond.{{ domain }}
172.20.1.200		tartarus		tartarus.{{ domain }}
172.20.1.250  ansible  ansible.{{ domain }}
