127.0.0.1   {{ inventory_hostname }}.{{ domain }} {{ inventory_hostname }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
172.20.1.5		dns-germes		dns-germes.{{ domain }}
172.20.1.10		haproxy-zefs		haproxy-zefs.{{ domain }}
172.20.1.11		haproxy-aid		haproxy-aid.{{ domain }}
172.20.1.15		cer-appolo		cer-appolo.{{ domain }}
172.20.1.16		cer-dionis		cer-dionis.{{ domain }}
172.20.1.17		cer-morphius		cer-morphius.{{ domain }}
172.20.1.20		mdb-afina		mdb-afina.{{ domain }}
172.20.1.21		mdb-fobos		mdb-fobos.{{ domain }}
172.20.1.22		mdb-gera		mdb-gera.{{ domain }}
172.20.1.23		mdb-deimos		mdb-deimos.{{ domain }}
172.20.1.24		mdb-afrodita		mdb-afrodita.{{ domain }}
172.20.1.25		mdb-geya		mdb-geya.{{ domain }}
172.20.1.26		mdb-clio		mdb-clio.{{ domain }}
172.20.1.27		mdb-nica		mdb-nica.{{ domain }}
172.20.1.28		mdb-erida		mdb-erida.{{ domain }}
172.20.1.29		mdb-femida		mdb-femida.{{ domain }}
172.20.1.30		mdb-gestia		mdb-gestia.{{ domain }}
172.20.1.31		mdb-eos		mdb-eos.{{ domain }}
172.20.1.40		gluster		gluster.{{ domain }}
172.20.1.41		gluster-ares		gluster-ares.{{ domain }}
172.20.1.42		gluster-erot		gluster-erot.{{ domain }}
#172.20.1.43		gluster-gefest		gluster-gefest.{{ domain }}
172.20.1.220		zabbix-poseidon		zabbix-poseidon.{{ domain }}
172.20.1.210		kibana-plutos		kibana-plutos.{{ domain }}
172.20.1.200		tartarus		tartarus.{{ domain }}
172.20.1.250  ansible  ansible.{{ domain }}
