systemLog:
  destination: file
  path: {{ mongodb_log }}
  logRotate: reopen
  logAppend: true
storage:
  dbPath: {{ mongodb_datadrive }}
  journal:
    enabled: true
net:
  port: {{ mongodb_port }}
  bindIpAll: true
replication:
  oplogSizeMB: 10
  replSetName: {{ mongodb_replicaset_name }}
#security:
#  keyFile: /etc/ssl/mongodb-keyfile
#  authorization: enabled
processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile
  timeZoneInfo: /usr/share/zoneinfo
sharding:
  clusterRole: {{ mongodb_clusterRole }}
