{
  "MongoDb":
      {
      "ConnectionString": "mongodb://{{mongodb_user_cer}}:{{ mongodb_user_cer_pass }}@{{ mongodb_router[0] }},{{ mongodb_router[1] }},{{ mongodb_router[2] }}/admin",
      "Database": "{{ cer_db }}"
      },
  "OpenExchangeRateConnection": {
    "ApplicationId": "ecb7d747488549cba2a11f03cb18ecc2"
  },
  "OpenExchangeRateMonitor": {
    "MaxRequestsPerDay": "1"
  },
  "CurrencyExchangeRatesActualization": {
    "WarrantyTime": "0:2:0"
  }
}

