version: '2'
services:
  {{ elasticsearch_container_name }}:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ kibana_version }}
    restart: always
    container_name: {{ elasticsearch_container_name }}
    environment:
      - node.name={{ elasticsearch_container_name }}
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - {{ elasticsearch_data }}:/usr/share/elasticsearch/data
    ports:
      - {{ elasticsearch_port }}:9200
      - {{ elasticsearch_port_mgmt }}:9300
    networks:
      dockernet:
        aliases:
          - elasticsearch.dockernet

  {{ kibana_container_name }}:
    image: docker.elastic.co/kibana/kibana:{{ kibana_version }}
    restart: always
    container_name: {{ kibana_container_name }}
    links:
      - "{{ elasticsearch_container_name }}:elasticsearch"
    ports:
      - {{ kibana_port }}:5601
    networks:
      dockernet:
        aliases:
          - kibana.dockernet
    depends_on:
      - {{ elasticsearch_container_name }}

  {{ logstash_container_name }}:
    image: docker.elastic.co/logstash/logstash:{{ kibana_version }}
    restart: always
    container_name: {{ logstash_container_name }}
    links:
      - "{{ elasticsearch_container_name }}:elasticsearch"
    ports:
      - {{ logstash_bits_port }}:5044
    volumes:
      - {{ logstash_conf_dir }}:/usr/share/logstash/pipeline
    networks:
      dockernet:
        aliases:
          - logstash.dockernet

  cerebro:
    image: lmenezes/cerebro
    restart: always
    container_name: cerebro
    ports:
      - 9000:9000
    networks:
      dockernet:
        aliases:
          - cerebro.dockernet
networks:
  dockernet:
    external:
      name: globalnetwork