#!/bin/bash

backup_folder_name=$(echo "{{ gluster_backup_dir }}/$(date +"%Y-%m-%d-%H-%M")")
mongodb_host="{{ groups.mongodb_config[2]}}.{{ domain }}"
mongodb_port="{{ mongodb_router_port }}"
mongodb_user="{{ mongodb_user_backup }}"
mongodb_pass="{{ mongodb_user_backup_pass }}"
mongodb_authdb=admin
mongodb_backup_db="{{ cer_db }}"

#понеслась
mkdir $backup_folder_name
echo $(date), "Запущено резервное копирование" >> $backup_folder_name/mongobackup.log
echo $backup_folder_name  >> $backup_folder_name/mongobackup.log
mongodump --gzip --port $mongodb_port --host $mongodb_host --username $mongodb_user --password $mongodb_pass --authenticationDatabase $mongodb_authdb --db $mongodb_backup_db --out $backup_folder_name  >> $backup_folder_name/mongobackup.log
if [[ $? == 0 ]]
  then
    echo $(date), "Бекап успешно завершен" >> $backup_folder_name/mongobackup.log
    exit 0
  else
    echo $(date), "Операция завершена с ошибкой" >> $backup_folder_name/mongobackup.log
    exit 1
fi
